In [2]:
# Importamos el data set de terremotos delimitado por ;
import pandas as pd

df = pd.read_csv('chile_earthquakes.csv', delimiter=';')
df = df.drop(columns=['Search Parameters'])
df = df.fillna(0)
# Cambiamos el nombre Location Name por LocationName, Focal Depth (km) por FocalDepth, Damage ($Mil) por Damage, Houses Destroyed por HousesDestroyed, Houses Damaged por HousesDamaged, Total Deaths por TotalDeaths, Total Injuries por TotalInjuries, Total Damage ($Mil) por TotalDamage, Total Houses Destroyed por TotalHousesDestroyed, Total Houses Damaged por TotalHousesDamaged y Houses Damaged por HousesDamaged.
df = df.rename(columns={'Location Name': 'LocationName', 'Focal Depth (km)': 'FocalDepth', 'Damage ($Mil)': 'Damage', 'Houses Destroyed': 'HousesDestroyed', 'Houses Damaged': 'HousesDamaged', 'Total Deaths': 'TotalDeaths', 'Total Injuries': 'TotalInjuries', 'Total Damage ($Mil)': 'TotalDamage', 'Total Houses Destroyed': 'TotalHousesDestroyed', 'Total Houses Damaged': 'TotalHousesDamaged', 'Houses Damaged': 'HousesDamaged'})
# Eliminamos el primer dato
df = df.drop(df.index[0])
df = df[df.Magnitude != 0]
# Eliminmos las columnas que tienen cero en la columna FocalDepth
df = df[df.FocalDepth != 0]
# Agregamos una columna id y la ubicamos de primera
df['id'] = range(1, 1+len(df))
cols = df.columns.tolist()
cols = cols[-1:] + cols[:-1]
df = df[cols]
df

,id,Year,Month,Day,Hour,Minute,Tsunami,Country,LocationName,Latitude,Longitude,FocalDepth,Magnitude,Deaths,Missing,Injuries,Damage,HousesDestroyed,HousesDamaged
48,1,1868.0,8.0,13.0,21.0,30.0,983.0,CHILE,CHILE: ARICA,"-18,6",-71,25.0,"8,5",25000.0,0.0,0.0,0,0.0,0.0
57,2,1869.0,8.0,24.0,17.0,10.0,1010.0,CHILE,"CHILE: IQUIQUE, PICA; PERU: TACNA","-19,6","-70,23",30.0,"7,5",0.0,0.0,0.0,0,0.0,0.0
65,3,1877.0,5.0,10.0,0.0,59.0,1075.0,CHILE,CHILE: OFF NORTH COAST,"-21,5","-70,5",40.0,"8,3",103.0,0.0,0.0,"1,6",0.0,0.0
70,4,1878.0,1.0,23.0,12.0,5.0,1090.0,CHILE,CHILE: TARAPACA,"-19,92","-70,335",40.0,"7,9",0.0,0.0,0.0,0,0.0,0.0
88,5,1906.0,8.0,17.0,0.0,40.0,1339.0,CHILE,CHILE: SOUTH CENTRAL,-33,-72,25.0,"8,2",4000.0,0.0,0.0,100,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,102,2019.0,1.0,20.0,1.0,32.0,0.0,CHILE,"CHILE: COQUIMBO, LA SERENA","-30,04","-71,382",63.0,"6,7",2.0,0.0,0.0,0,0.0,1061.0
195,103,2019.0,6.0,14.0,0.0,19.0,5710.0,CHILE,CHILE: COQUIMBO,"-30,056","-72,082",11.0,"6,4",0.0,0.0,0.0,0,0.0,0.0
196,104,2019.0,9.0,26.0,16.0,36.0,0.0,CHILE,CHILE: SOUTH CENTRAL,"-40,815","-72,002",129.0,"6,1",1.0,0.0,0.0,0,0.0,0.0
197,105,2019.0,9.0,29.0,15.0,57.0,0.0,CHILE,CHILE: CONCEPCION,"-35,473","-73,162",11.0,"6,8",1.0,0.0,0.0,0,0.0,0.0
198,106,2020.0,12.0,27.0,21.0,39.0,5760.0,CHILE,CHILE: OFF COAST CENTRAL,"-39,343","-74,99",10.0,"6,7",0.0,0.0,0.0,0,0.0,0.0

In [3]:
# Convertimos todos los datos a strings
df = df.astype(str)

In [33]:
df.columns

Index(['id', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Tsunami', 'Country',
       'LocationName', 'Latitude', 'Longitude', 'FocalDepth', 'Magnitude',
       'Deaths', 'Missing', 'Injuries', 'Damage', 'HousesDestroyed',
       'HousesDamaged'],
      dtype='object')

In [4]:
# Reemplazamos todos los valores que tengan "," por "." de las columnas ['id', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Tsunami', 'Country', 'LocationName', 'Latitude', 'Longitude', 'FocalDepth', 'Magnitude', 'Deaths', 'Missing', 'Injuries', 'Damage', 'HousesDestroyed', 'HousesDamaged']
df = df.replace({',': '.'}, regex=True)

In [5]:
# convertimos todos los datos de las columnas ['id', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Tsunami', 'Country', 'Latitude', 'Longitude', 'FocalDepth', 'Magnitude', 'Deaths', 'Missing', 'Injuries', 'Damage', 'HousesDestroyed', 'HousesDamaged'] a float
df[['id', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Tsunami', 'Latitude', 'Longitude', 'FocalDepth', 'Magnitude', 'Deaths', 'Missing', 'Injuries', 'Damage', 'HousesDestroyed', 'HousesDamaged']] = df[['id', 'Year', 'Month', 'Day', 'Hour', 'Minute', 'Tsunami', 'Latitude', 'Longitude', 'FocalDepth', 'Magnitude', 'Deaths', 'Missing', 'Injuries', 'Damage', 'HousesDestroyed', 'HousesDamaged']].astype(float)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 106 entries, 48 to 198
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               106 non-null    float64
 1   Year             106 non-null    float64
 2   Month            106 non-null    float64
 3   Day              106 non-null    float64
 4   Hour             106 non-null    float64
 5   Minute           106 non-null    float64
 6   Tsunami          106 non-null    float64
 7   Country          106 non-null    object
 8   LocationName     106 non-null    object
 9   Latitude         106 non-null    float64
 10  Longitude        106 non-null    float64
 11  FocalDepth       106 non-null    float64
 12  Magnitude        106 non-null    float64
 13  Deaths           106 non-null    float64
 14  Missing          106 non-null    float64
 15  Injuries         106 non-null    float64
 16  Damage           106 non-null    float64
 17  HousesDestroyed  106 non-null    float64
 18  HousesDamaged    106 non-null    float64
dtypes: float64(17), object(2)
memory usage: 16.6+ KB

In [39]:
# Exportamos como csv
df.to_csv('chile_earthquakes_clean.csv', index=False)

In [40]:
# Iteramos sobre la columna damage e imprimimos los datos que su tipo no es float o int
for index, row in df.iterrows():
    if not (isinstance(row['Damage'], float) or isinstance(row['Damage'], int)):
        print(row['Damage'])

In [43]:
# Imprimimos el mÃ¡ximo de la columna damage
print(df['Deaths'].max())
# mostramos que terremoto fue
print(df[df['Deaths'] == df['Deaths'].max()])

30000.0
       id    Year  Month   Day  Hour  Minute  Tsunami Country  \
111  22.0  1939.0    1.0  25.0   3.0    32.0   1729.0   CHILE

        LocationName  Latitude  Longitude  FocalDepth  Magnitude   Deaths  \
111  CHILE:  CHILLAN    -36.25     -72.25        60.0        8.3  30000.0

     Missing  Injuries  Damage  HousesDestroyed  HousesDamaged
111      0.0       0.0   920.0              0.0            0.0

In [8]:
# Imprimimos los muertos del terremoto con aÃ±o 2010
print(df[df['Year'] == 2005])

       id    Year  Month   Day  Hour  Minute  Tsunami Country  \
174  82.0  2005.0    6.0  13.0  22.0    44.0      0.0   CHILE
175  83.0  2005.0    8.0  14.0   2.0    39.0      0.0   CHILE

         LocationName  Latitude  Longitude  FocalDepth  Magnitude  Deaths  \
174  CHILE:  TARAPACA   -19.987    -69.197       116.0        7.7    11.0
175  CHILE:  TARAPACA   -19.780    -68.980        11.0        5.8     0.0

     Missing  Injuries  Damage  HousesDestroyed  HousesDamaged
174      0.0     200.0     0.0            544.0            0.0
175      0.0       0.0     0.0              0.0            0.0